spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:kitchen-pos;MODE=MYSQL;
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.type.descriptor.sql:
      BasicBinder: TRACE
