logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
spring:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create
    #      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true