spring:
  jpa:
    properties:
      hibernate:
        show_sql : true
        format_sql : true
  h2:
    console:
      enabled : true
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:userdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
  flyway:
    enabled: true
    baseline-on-migrate: true
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder : trace
