spring:
  h2:
    console:
      enabled: true
  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true

logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
---
spring:
  profiles: test
  flyway:
    enabled: false